.sidebar-container {
    position: fixed;
    top: 81px;
    left: 0;
    width: 300px;
    height: calc(100vh - 60px);
    background: #f9f9f9;
    border-right: 1px solid #ddd;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.account-creation {
    margin-bottom: 20px;
    padding: 16px;
    font-size: 18px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.account-creation h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.4;
}

.account-creation p {
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.5;
    color: #555;
}

.account-creation button {
    margin-left: 0px;
    display: block;
    width: 100%;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.account-creation button:hover {
    background-color: #005fcc;
}

.sidebar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links ul li {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.sidebar-links ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 20px;
}

.sidebar-links ul li a:hover {
    color: #0077ff;
}


.main-content {
    margin-left: 260px;
    margin-top: 60px;
    padding: 20px;
    flex: 1;
}