* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

.login-container {
    font-family: 'Arial', sans-serif;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    text-align: center;
    font-size: 4 rem;
    font-weight: bold;
    color: #070404;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
    text-decoration: underline;
}

.input-group {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input[type="text"],
input[type="password"] {
    all: unset;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px 15px;
    width: calc(100% - 30px);
    box-sizing: border-box;
}

.icon {
    color: #007bff;
    margin-right: 8px;
}

input {
    all: unset;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

input[type="text"]:hover,
input[type="password"]:hover {
    cursor: text;
    border-color: #0b2b4d;
    box-shadow: 0 0 5px rgba(21, 24, 194, 0.1);
}

button {
    margin-top: 5px;
    background-color: #007bff;
    color: aliceblue
}

button:hover {
    background-color: #0b2b4d;
}

.other-options span {
    width: 100%;
    border-bottom: 1px solid black;

}