.navbar{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color: #454141;
    padding: 10px 6px;
    z-index:1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  font-size: 16px;
}

.nav-links a:hover {
  color: #1872e0;
}

body{
    padding-top: 60px;
}

.nav-links-right{
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-btn{
  background-color: #1872e0;
  color: white;
  padding: 6px 16px;
  border-radius: 20vh;
}

.nav-btn:hover{
  color: #142336;
}

.nav-btn-logout{
  background-color: #1872e0;
  padding: 4px;
  width: 10%;
}