.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.signup-form {

    display: flex;
    flex-direction: column;
}

input {
    border-radius: 3px;
    width: 120px;
    font-weight: bold;
    margin-right: 15px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #1e70fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #005586;
}

.error {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}