* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-container {
    font-family: 'Arial', sans-serif;
    background-image: url("../assets/images/login background.jpg");
}

.login-container {
    place-content: center;
    width: 450px;
    height: 450px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #070404;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
    text-decoration: underline;
}

.input-group {
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    background: #fff;   
}

input[type="text"]:hover,
input[type="password"]:hover {
    cursor: text;
    border-color: #0b2b4d;
    box-shadow: 0 0 5px rgba(21, 24, 194, 0.1);
}

.forgot-password{
    text-align: center;
    margin-left: 10px;
    padding-bottom: 10px;
}

.other-options p {
    width: 100%;
    text-align: center;
    opacity: 50%;
    padding-top: 10px;
    border-top: 0.5px solid black;

}
.social-icons{
    display: flex;
    justify-content: center;
}
.icon{    
    color:#007bff;
    margin-right: 10px;
}

.icon:hover{
    color:#0c437e;  
}


.error {
    color: #d11124;
    font-size: 0.75rem;
    margin-top: 4px;
    display: block;
    font-weight: 500;
}