*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
}

.signup-container {
    font-family: 'Arial', sans-serif;
    background: transparent;
}
.signup-container{
    place-content: center;
    width: 500px;
    height: 500px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(10, 1, 1, 0.1);
}

header{
    text-align:center;
    font-size: 4rem;
    font-weight: bold;
    color:#070404;
}

.signin-link {
    text-align: center;
    margin-top: 20px;
    font-size:0.9rem;
}

.signin-link a {
    color: #007bff;
    text-decoration: none;
    text-decoration: underline;
}

.input-group{
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input{
    font-size: small;
    width:80%;
    padding:6px;
} 

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover{ 
    cursor:text;
    border-color: #0b2b4d;
    box-shadow: 0 0 5px rgba(21, 24, 194, 0.1);
}

button{
    margin-top: 5px;
    margin-left: 90px;
    width: 50%;
    background-color: #007bff;
    color:aliceblue;
}

button:hover{
    background-color:#0b2b4d;
}

.icon{
    margin-left:3px;
}

.error {
    color: #d11124;
    font-size: 0.75rem;
    margin-top: 4px;
    display: block;
    font-weight: 500;
}